
.container {
    width: 1280px;
    height: 1626px;
    background-color: white;
    margin: 0;
}
.header {
    width: 100%;
    height: 80px;
    margin-top: 100px;

}
.top {
    margin-top: 32px;

    padding-left: 90px;
    color: orange;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.image-centre {
    width: 100%;
    height: 790px;
    display: block;
    margin-top: -20px;
    padding-top: 25px;
    margin-bottom: 0;

}


.content {
    font-family: "Arial Hebrew";
    text-align: center;
    color: black;
    background-color: rgba(255,215,0, 0.3) ;
    font-size: 22px;
    width: 100%;
    height: 477px;
    margin-top: 0;


}
button {
    background-color: orange;
    color: white;
    font-size: x-large;

}
footer {
    float:right;
}