body {
    margin: 0;
}
.container {
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
    padding:61px 100px 0 100px;
}
header {
    width: 392px;
    height: 74px;
    margin: 61px 1087px 45px 101px ;

}
.Ramda {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;;
    font-size: 72px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
    text-decoration: none;
}
span  {
    color: #4bcaff;
}
.top_menu {
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    margin: 0 100px 51px 100px;
}
.menu1 ,.menu2 , .menu3, .menu4 {
    color: rgba(255, 255, 255, 255);
    font-size: 23px;
    display: inline-block;
    text-align: center;
}
.menu1 {
    margin: 26px 42px 21px 203px;
}
.menu2 {
    background-color:#222f3a;
    width: 150px;
    height: auto;
    margin-top: 0;
    text-align: center;


}
.menu3 {
    margin: 26px 85px 20px 43px;
}
.left_menu {
    display: inline-block;
    text-align: inherit;
    width: 344px;
    height: 399px;
    border: groove;
    margin: 0 52px 0 100px;
    float: left;
}
.left_menu_Ramda {
    width: 75px;
    height: 19px;
    margin: 30px 224px 29px 44px;
}
.left_menu2 {
    width: auto;
    height: 81px;
    background-color: #dbdbdb;
    padding-top: 28px;
    padding-left: 69px;
}
.left_menu3{
    padding-top: 27px;
    padding-left: 42px;
}
.left_menu4, .left_menu5 {
    padding-top: 51px;
    padding-left: 44px;
}
.left_menu5{
    padding-bottom:28px;
}

.left_menu_Ramda,.left_menu2,.left_menu3, .left_menu4,  .left_menu5 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 19px;
    color: #485863;
    text-align: left;
}

.border_img {

    display: inline-block;
    width: 885px;
    height: 529px;
    border: groove;
    align-content: center;
}
.img  {
    display: inline-block;
    width: 320px;
    height: 381px;
    margin: 75px 268px 73px 297px;
}
.Lorem1, .Lorem2{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 19px;
    color: rgba(44, 44, 44, 255);
    margin-left: 526px;
    margin-right: 139px;
}
.Lorem1 {
    width: 870px;
    height: 114px;
    margin-top: 50px;
}
.Lorem2 {
    width: 820px;
    height: 109px;
    margin-bottom: 51px;
}
.back_footer {
     margin: 51px 100px 30px 100px ;
     background-color: #b4b7ba;
     width: 1280px;
     height: 69px;
}
footer {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 20px;
    color: rgba(12, 25, 39, 255);
    text-align: left;
    word-spacing: 25px;
    padding: 22px 218px 21px 44px;
}
.footer_a {
    color: #4bcaff;

}
.copyright {
    display: inline-block;
    float: right;
}


